django>=4.2
django-prose-editor[sanitize]
django-cleanup==9.0.0
django-crispy-forms>=2.0,<3.0
crispy-bootstrap4
django-js-asset>=3.1.2
dj-database-url>=3.0.0,<4.0.0
gunicorn>=23.0.0,<24.0.0
whitenoise>=6.7.0,<7.0.0
