<header>
	<div class="top-nav">
		<div class="container-fluid">
			<nav class="navbar navbar-expand-lg navbar-light">
				<a class="navbar-brand text-uppercase" href="{% url 'index'  %}">Blog App<i class="fab fa-studiovinari"></i></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse justify-content-center pr-md-4" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link" href="{% url 'index'  %}">Home<span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'about'  %}">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'article:articles' %}">Articles</a>
            </li>
            {% if request.user.is_authenticated %}
              <li>
                <a class="nav-link" href="{% url 'article:dashboard'  %}">Dashboard</a>
              </li>
              <li>
                <a class="nav-link" href="{% url 'user:logout'  %}">Log out</a>
              </li>
            {% else %}
              <li>
                <a class="nav-link" href="{% url 'user:login'  %}">Log in</a>
              </li>
              <li>
                <a class="nav-link" href="{% url 'user:register'  %}">Register</a>
              </li>
            {% endif %}
					</ul>
				</div>
			</nav>
		</div>
	</div>
</header>