{% extends "layout.html" %}

{% load static %}
{% block body %}
<link rel="stylesheet" href="{% static 'assets/css/login.css' %}" type="text/css" media="all" />
<div class="w3-head-all  py-md-3">
    <h3 class="text-uppercase mt-4">About us</h3>  
</div>
<hr>
<section class="container jumbotron container2">

<div class="container" align="justify">
<p>
{% lorem 2 %}
{% comment %} {% lorem how_many_paragraphs %} {% endcomment %}
{% lorem 7 b random %}
    My name is Anurag
</p>
</div></section>
{% endblock body %}
