<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Success path An Education Category Flat Bootstrap Responsive Website Template | Home :: W3layouts</title>
	
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Success path Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--// Meta tag Keywords -->

	<!-- css files -->
	<link rel="stylesheet" href="css/bootstrap.css"> <!-- Bootstrap-Core-CSS -->
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" /> <!-- Style-CSS --> 
	<link rel="stylesheet" href="css/fontawesome-all.css"> <!-- Font-Awesome-Icons-CSS -->
	<!-- //css files -->
	<link href="css/easy-responsive-tabs.css" rel='stylesheet' type='text/css'/>
	<link rel="stylesheet" href="css/jquery-ui.css" /><!-- Calendar -->
	<!-- testimonials css -->
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" property="" /><!-- flexslider css -->
	<!-- //testimonials css -->
	<!-- web-fonts -->
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
	<!-- //web-fonts -->
	
</head>

<body>

<!-- Navigation -->
<header>
	<div class="top-nav">
		<div class="container-fluid">
			<nav class="navbar navbar-expand-lg navbar-light">
				<a class="navbar-brand text-uppercase" href="index.html">Success path <i class="fab fa-studiovinari"></i></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse justify-content-center pr-md-4" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active">
							<a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="about.html">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="services.html">Services</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="gallery.html">Gallery</a>
						</li>
						<li class="dropdown nav-item">
							<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">Pages
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu agile_short_dropdown">
								<li>
									<a href="typography.html">Typography</a>
								</li>
								<li>
									<a href="about.html">Team</a>
								</li>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="contact.html">Contact</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
</header>
<!-- //Navigation -->
<!--Slider-->
<div class="slider">
	<div class="callbacks_container">
		<ul class="rslides callbacks callbacks1" id="slider4">
			<li>
				<div class="slider-img1">
					<div class="dot">
						<div class="container">
							<div class="slider_banner_info_w3ls">
								<h1 class="text-uppercase mb-3">Grow up future choose right career</h1>
								<p>Etiam vitae augue odio. Ut laoreet ipsum vel ultrices viverra. Donec nisl dolor, mollis vel libero id, 
										tempor cursus lectus. Vestibulum eu ligula et pharetra efficitur. Maecenas eleifend.</p>

								<a href="single.html" class="read" data-toggle="modal" data-target="#exampleModalCenter" role="button">Read more </a>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="slider-img2">
					<div class="dot">
						<div class="container">
							<div class="slider_banner_info_w3ls">
								<h4 class="text-uppercase mb-3">We help you education to future</h4>
								<p>Etiam vitae augue odio. Ut laoreet ipsum vel ultrices viverra. Donec nisl dolor, mollis vel libero id, 
										tempor cursus lectus. Vestibulum eu ligula et pharetra efficitur. Maecenas eleifend.</p>

								<a href="#" class="read" data-toggle="modal" data-target="#exampleModalCenter" role="button">Read more </a>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="slider-img3">
					<div class="dot">
						<div class="container">
							<div class="slider_banner_info_w3ls">
								<h4 class="text-uppercase mb-3">Take the help from experts staff</h4>
								<p>Etiam vitae augue odio. Ut laoreet ipsum vel ultrices viverra. Donec nisl dolor, mollis vel libero id, 
										tempor cursus lectus. Vestibulum eu ligula et pharetra efficitur. Maecenas eleifend.</p>

								<a href="#" class="read" data-toggle="modal" data-target="#exampleModalCenter" role="button">Read more </a>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="slider-img4">
					<div class="dot">
						<div class="container">
							<div class="slider_banner_info_w3ls">
								<h4 class="text-uppercase mb-3">We provide quality education to future</h4>
								<p>Etiam vitae augue odio. Ut laoreet ipsum vel ultrices viverra. Donec nisl dolor, mollis vel libero id, 
										tempor cursus lectus. Vestibulum eu ligula et pharetra efficitur. Maecenas eleifend.</p>

								<a href="#" class="read" data-toggle="modal" data-target="#exampleModalCenter" role="button">Read more </a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
			<div class="clearfix"></div>
		</ul>
</div>

<!--//Slider-->
<!-- About us -->
	<div class="about-3 py-5">
		<div class="container py-md-3">
		<div class="w3-head-all mb-3">
		         <h3>Welcome</h3>
		       </div>
			<div class="d-flex">
				<div class="about1"> 
					<h4>WE ARE THE LEADERS IN THE ONLINE EDUCATION.</h4>
					<p class="details">Nullam pulvinar vulputate aliquam. Pellentesque venenatis ut mi ac porta. Praesent interdum nibh libero, id malesuada libero aliquet quis. Donec at odio nibh.</p>
					<ul class="about-list">
						<li>
							<span class="fas fa-chess-rook" aria-hidden="true"></span>
							<div class="in-block">
								<h5>Our Mission</h5>
								<p>Suspendisse maximus leo vel facilisis porta. Aliquam posuere mollis auctor. Nunc eget massa eleifend, finibus felis eu, tincidunt eros.</p>
							</div>
						</li>
						<li>
						<span class="fab fa-accessible-icon" aria-hidden="true"></span>
							<div class="in-block">
								<h5>Our Activity</h5>
								<p>Suspendisse maximus leo vel facilisis porta. Aliquam posuere mollis auctor. Nunc eget massa eleifend, finibus felis eu, tincidunt eros.</p>
							</div>
						</li>
						<li>
						<span class="fas fa-bus" aria-hidden="true"></span>
							<div class="in-block">
								<h5>Our Vission</h5>
								<p>Suspendisse maximus leo vel facilisis porta. Aliquam posuere mollis auctor. Nunc eget massa eleifend, finibus felis eu, tincidunt eros.</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="about2">
					
				</div>
			</div>
			
		</div>
	</div>
	<!-- //About us -->

<!-- /services-home -->
<div class="programs py-5">
<div class="w3-head-all mb-3">
		         <h3>Our programs</h3>
		       </div>
	<div class="grids_sec_2">
		<div class="row style-grids_main">
			<div class="col-md-6 grid_sec_info">
				<div class="style-grid-2-text_info" data-aos="fade-right">
					<h3>WHY DID THAT STUDENT FAIL AND HOW NOT TO FAIL?</h3>
					<p>Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores alias consequatur.sed quia non numquam eius modi
						tempora incidunt ut labore .</p>
					<div class="bnr-button">
						<a href="#" class="read" data-toggle="modal" data-target="#exampleModalCenter" role="button">Read more </a>
					</div>

				</div>
			</div>
			<div class="col-md-6 style-image-2">
			</div>
			<div class="col-md-6 style-image-2 second">
			</div>
			<div class="col-md-6 grid_sec_info">
				<div class="style-grid-2-text_info" data-aos="fade-right">
					<h3>15 STUDENT-CENTERED INSTRUCTIONAL STRATEGIES</h3>
					<p>Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores alias consequatur.sed quia non numquam eius modi
						tempora incidunt ut labore .</p>
					<div class="bnr-button">
						<a href="#" class="read" data-toggle="modal" data-target="#exampleModalCenter" role="button">Read more </a>
					</div>
				</div>
			</div>

		</div>
	</div>
	</div>
	<!-- //services-home -->
<!-- features -->
	<div class="features py-5">  
		<div class="container-fluid  py-md-3">  
	<div class="w3-head-all mb-3">
		         <h3>Our Training</h3>
		       </div>
		<div class="tabs w3-agileits-tabs"> 
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li class="active"><a href="#home" aria-controls="home" data-toggle="tab"><span>Popular Courses</span></a></li>
				<li><a href="#profile" aria-controls="profile" data-toggle="tab"><span>Best Teachers</span></a></li>
				<li><a href="#messages" aria-controls="messages" data-toggle="tab"><span>Certification</span></a></li>
				<li><a href="#settings" aria-controls="settings" data-toggle="tab"><span>Placements</span></a></li>
			</ul>
			<!-- Tab panes --> 
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active row" id="home"> 
					<div class="col-lg-6  col-md-12 features-right">
						<div class="agileits-mid"> 
							<h6>- Our Features</h6>
							<h3> Mauris commodo </h3>
						</div>
						<p>Fusce eget erat nunc. Sed fringilla sem vitae mi interdum commodo. Aliquam neque odio, viverra eget nisl id, vulputate malesuada lorem. Praesent quis ullamcorper lorem vulputate malesuada lorem.  </p>
					</div>
					<div class="col-lg-6 col-md-12 features-left agileinfo-img">
					
					</div>
					<div class="clearfix"> </div>
				</div>
				<div role="tabpanel" class="tab-pane row" id="profile"> 
					<div class="col-lg-6 col-md-12 features-right">
						<div class="agileits-mid"> 
							<h6>- Our Features</h6>
							<h3> Mauris commodo </h3>
						</div>
						<p>Fusce eget erat nunc. Sed fringilla sem vitae mi interdum commodo. Aliquam neque odio, viverra eget nisl id, vulputate malesuada lorem. Praesent quis ullamcorper lorem vulputate malesuada lorem.  </p>
					</div>
					<div class="col-lg-6 col-md-12 features-left agileinfo-img2">
					
					</div>
					<div class="clearfix"> </div>
				</div>
				<div role="tabpanel" class="tab-pane row" id="messages"> 
					<div class="col-lg-6 col-md-12 features-right w3-agile">
						<div class="agileits-mid"> 
							<h6>- Our Features</h6>
							<h3> Mauris commodo </h3>
						</div>
						<p>Fusce eget erat nunc. Sed fringilla sem vitae mi interdum commodo. Aliquam neque odio, viverra eget nisl id, vulputate malesuada lorem. Praesent quis ullamcorper lorem vulputate malesuada lorem.  </p>
					</div>
					<div class="col-lg-6 col-md-12 features-left agileinfo-img3">
					
					</div>
					<div class="clearfix"> </div>
				</div>
				<div role="tabpanel" class="tab-pane row" id="settings"> 
					<div class="col-lg-6 col-md-12 features-right">
						<div class="agileits-mid"> 
							<h6>- Our Features</h6>
							<h3> Mauris commodo </h3>
						</div>
						<p>Fusce eget erat nunc. Sed fringilla sem vitae mi interdum commodo. Aliquam neque odio, viverra eget nisl id, vulputate malesuada lorem. Praesent quis ullamcorper lorem vulputate malesuada lorem.  </p>
					</div>
					<div class="col-lg-6 col-md-12 features-left agileinfo-img4">
					
					</div>
					<div class="clearfix"> </div>
				</div>
			</div> 
		</div><!-- /tabs -->  
	</div>
	</div>
	<!-- //features --> 
	<!-- agile_testimonials -->
	<!-- Clients -->
<section class="clients-main py-5" id="testimonials">
		<div class="container py-md-3">
		<div class="w3-head-all mb-3">
		         <h3>Clients Reviews</h3>
		       </div>
			<!-- Owl-Carousel -->
			<div class="cli-ent">
				<section class="slider">
					<div class="flexslider">
						<ul class="slides">
							<li>
								<div class="item g1">
									<div class="agile-dish-caption">
									<img class="lazyOwl" src="images/test1.jpg" alt="" />
										<h5 class="text-capitalize font-italic">Michael</h5>
										<h4 class="text-capitalize">Great Industrial work</h4>
									</div>
									
									<div class="clearfix"></div>
									<p class="para-w3-agile text-center"><span class="fa fa-quote-left" aria-hidden="true"></span> Phasellus iaculis sapien in tellus gravida, a placerat lacus elementum. Nulla vitae lacus nec elit mollis pretium. Sedminc sed nunc lectus. Integer vehicula elit eget dignissim congue. Aliquam sed ultricies tortor. Curabitur ut odio vestibulum consectetur adipisthn</p>
								</div>
							</li>
							<li>
								<div class="item g1">
									<div class="agile-dish-caption">
									<img class="lazyOwl" src="images/test2.jpg" alt="" />
										<h5 class="text-capitalize font-italic">libero</h5>
										<h4 class="text-capitalize">High quality materials</h4>
									</div>
									
									<div class="clearfix"></div>
									<p class="para-w3-agile text-center"><span class="fa fa-quote-left" aria-hidden="true"></span> Phasellus iaculis sapien in tellus gravida, a placerat lacus elementum. Nulla vitae lacus nec elit mollis pretium. Sedminc sed nunc lectus. Integer vehicula elit eget dignissim congue. Aliquam sed ultricies tortor. Curabitur ut odio vestibulum consectetur adipisthn</p>
								</div>
							</li>
							<li>
								<div class="item g1">
									<div class="agile-dish-caption">
									<img class="lazyOwl" src="images/test3.jpg" alt="" />
										<h5 class="text-capitalize font-italic">Alex</h5>
										<h4 class="text-capitalize">Innovative Industrial Solutions</h4>
									</div>
									
									<div class="clearfix"></div>
									<p class="para-w3-agile text-center"><span class="fa fa-quote-left" aria-hidden="true"></span> Phasellus iaculis sapien in tellus gravida, a placerat lacus elementum. Nulla vitae lacus nec elit mollis pretium. Sedminc sed nunc lectus. Integer vehicula elit eget dignissim congue. Aliquam sed ultricies tortor. Curabitur ut odio vestibulum consectetur adipisthn</p>
								</div>
							</li>
						</ul>
					</div>
				</section>
			</div>
			<!--// Owl-Carousel -->
		</div>
</section>
<!--// Clients -->

<!-- //agile_testimonials -->
	<!-- stats -->
	<div class="stats">
		<div class="container">
		<div class="wthree_head_section stats_head">
					<h3>We are always ahead 
Professional Education for Your Future.</h3>
				</div>
		<div class="row">
			<div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 
			w3layouts_stats_left w3_counter_grid">
				<span class="fas fa-smile" aria-hidden="true"></span>
				<p class="counter">6000</p>
				<h3>HAPPY CUSTOMERS</h3>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6 col-xs-6   w3layouts_stats_left w3_counter_grid1">
				<span class="fas fa-bookmark" aria-hidden="true"></span>
				<p class="counter">165</p>
				<h3>APPROVED COURSES</h3>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6 col-xs-6  w3layouts_stats_left w3_counter_grid2">
				<span class="fas fa-users" aria-hidden="true"></span>
				<p class="counter">30</p>
				<h3>CERTIFIED TEACHERS</h3>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6 col-xs-6  w3layouts_stats_left w3_counter_grid3">
				<span class="fas fa-trophy" aria-hidden="true"></span>
				<p class="counter">500</p>
				<h3>AWARDS WON</h3>
			</div>
			<div class="clearfix"> </div>
		</div>
			</div>
	</div>
	<!-- //stats -->


<!-- appointment -->
<div class="appointment" id="appointment">
<div class="container-fluid  py-md-3">
<div class="row">
<div class="col-md-5 about-bottoml-agileits">
		</div>
		<div class="col-md-7 about-bottomr-agileits">
			<div class="appointment_head">
				<h3>Make An Appointment </h3>
			</div>
				<div class="form-agileits">
				<form action="#" method="post">
				<h6>Personal information</h6>
						<input class="name" type="text" name="First Name" placeholder="First Name" required="">
						<input type="text" name="Last Name" placeholder="Last Name" required="">
						<input class="name" type="email" name="Email" placeholder="Email" required="">
						<input type="text" name="Phone" placeholder="Phone" required="">
						<div class="clearfix"> </div>
					<h6>Service and date</h6>
						<select class="form-control name">
							<option>Please Select Your Service</option>
							<option>Post-recovery</option>
							<option>Post-Trauma</option>
							<option>Migraines</option>
							<option>Chronic Pains</option>
						</select>
						<input  id="datepicker1" name="Text" type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}" placeholder="mm/dd/yyyy" required="">
					<div class="clearfix"> </div>
						<div class="wthree-text"> 
							<ul> 
								<li>
									<label class="anim">
										<input type="checkbox" class="checkbox">
										<span> Please send me latest news & updates</span> 
									</label> 
								</li>
							</ul>
							<div class="clearfix"> </div>
						</div>
						<input type="submit" value="Submit">
				</form>
				</div>
		</div>
		<div class="clearfix"> </div>
		</div>
		</div>
</div>
<!-- //appointment -->

<!-- footer -->
<section class="agile-footer w3ls-section py-5">
	<div class="container">
		<div class="list-footer">
			<ul class="footer-nav text-center">
				<li>
					<a href="index.html">Home</a>
				</li>
				<li>
					<a href="about.html">About</a>
				</li>
				<li>
					<a href="services.html">Services</a>
				</li>
				<li>
					<a href="property.html">Properties</a>
				</li>
				<li>
					<a href="contact.html">Contact</a>
				</li>
			</ul>
		</div>
		<div class="agileits_w3layouts-footer-bottom">
			<div class="row w3_agile-footer-grids py-5 my-4">
				<div class="col-lg-3 col-sm-12 w3_agile-footer1 f1">
					<h2 class="mb-3">
						<a href="index.html">Success path</a>
					</h2>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem atus error sit volupt unde.</p>
				</div>
				<div class="col-lg-7 col-sm-12 row w3_agile-footer1 f2">
					<div class="col-lg-4  col-sm-4 inner-li">
						<h5 class="mb-3">Partners</h5>
						<ul class="w3ls-footer-bottom-list">
							<li>
								<a class="page-scroll" href="services.html">Our Group</a>
							</li>
							<li>
								<a class="page-scroll" href="index.html">Training</a>
							</li>
							<li>
								<a class="page-scroll" href="gallery.html">Gallery</a>
							</li>
							<li>
								<a class="page-scroll" href="index.html">Reviews</a>
							</li>
						</ul>
					</div>
					<div class="col-lg-4 col-sm-4 inner-li">
						<h5 class="mb-3">About us</h5>
						<ul class="w3ls-footer-bottom-list">
							<li>
								<a href="history.html">History</a>
							</li>
							<li>
								<a href="#">Terms of use</a>
							</li>
							<li>
								<a href="#">Privacy policy</a>
							</li>
							<li>
								<a href="#">Blog</a>
							</li>
						</ul>
					</div>
					<div class="col-lg-4 col-sm-4 inner-li">
						<h5 class="mb-3">support</h5>
						<ul class="w3ls-footer-bottom-list">
							<li>
								<a href="#">24/7 service</a>
							</li>
							<li>
								<a href="#">FAQ</a>
							</li>
							<li>
								<a href="#">media</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-sm-4  w3_agile-footer1 f3">
					<h5 class="mb-3">Need Help?</h5>
					<ul class="footer-social-icons">
						<li>
							<a href="contact.html">
								Contact us
							</a>
						</li>
						<li>
							<a href="#">
								Careers
							</a>
						</li>
						<li>
							<a href="#">
								Success
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="agileits_w3layouts-copyright text-center">
			<p>© 2018 Success path. All Rights Reserved | Design by
				<a href="http://w3layouts.com/" target="=_blank"> W3layouts </a>
			</p>
		</div>
	</div>
</section>
<!-- //footer -->

<!-- Vertically centered Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-uppercase text-center" id="exampleModalLongTitle"> Success path</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<img src="images/ban11.jpg" class="img-fluid mb-3" alt="Modal Image" />
        Vivamus eget est in odio tempor interdum. Mauris maximus fermentum arcu, ac finibus ante. Sed mattis risus at ipsum elementum, ut auctor turpis cursus. Sed sed odio pharetra, aliquet velit cursus, vehicula enim. Mauris porta aliquet magna, eget laoreet ligula.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- //Vertically centered Modal -->

<!-- js-scripts -->		

	<!-- js -->
	<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script> <!-- Necessary-JavaScript-File-For-Bootstrap --> 
	<!-- //js -->	
	
	<!-- Banner Responsive slider -->
	<script src="js/responsiveslides.min.js"></script>
	<script>
		// You can also use "$(window).load(function() {"
		$(function () {
			// Slideshow 4
			$("#slider4").responsiveSlides({
				auto: true,
				pager: false,
				nav: true,
				speed: 500,
				namespace: "callbacks",
				before: function () {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
					$('.events').append("<li>after event fired.</li>");
				}
			});

		});
	</script>
	<!-- // Banner Responsive slider -->
	<!-- script for responsive tabs -->						
<script src="js/easy-responsive-tabs.js"></script>
<script>
$(document).ready(function () {
$('#horizontalTab').easyResponsiveTabs({
type: 'default', //Types: default, vertical, accordion           
width: 'auto', //auto or any width like 600px
fit: true,   // 100% fit in a container
closed: 'accordion', // Start closed if in accordion view
activate: function(event) { // Callback function if tab is switched
var $tab = $(this);
var $info = $('#tabInfo');
var $name = $('span', $info);
$name.text($tab.text());
$info.show();
}
});
$('#verticalTab').easyResponsiveTabs({
type: 'vertical',
width: 'auto',
fit: true
});
});
</script>
<!--script for responsive tabs -->
<!-- Calendar -->
				<script src="js/jquery-ui.js"></script>
				  <script>
						  $(function() {
							$( "#datepicker,#datepicker1,#datepicker2,#datepicker3" ).datepicker();
						  });
				  </script>
			<!-- //Calendar -->
<!-- stats -->
	<script src="js/jquery.waypoints.min.js"></script>
	<script src="js/jquery.countup.js"></script>
	<script>
		$('.counter').countUp();
	</script>
	<!-- //stats -->
	<!-- flexSlider --><!-- for testimonials -->
	<script defer src="js/jquery.flexslider.js"></script>
	<script type="text/javascript">
		$(window).load(function(){
		  $('.flexslider').flexslider({
			animation: "slide",
			start: function(slider){
			  $('body').removeClass('loading');
			}
		  });
		});
	</script>
	<!-- //flexSlider --><!-- for testimonials -->

	<!-- start-smoth-scrolling -->
	<script src="js/SmoothScroll.min.js"></script>
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
	</script>
	<!-- here stars scroslling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
	<!-- //here ends scrolling icon -->
	<!-- start-smoth-scrolling -->
	
<!-- //js-scripts -->

</body>
</html>